# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [2]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

import os
from dotenv import load_dotenv

In [3]:
# Load .env enviroment variables
load_dotenv()

True

In [4]:
#Get the password for the Postgres SQL server
DBPassword = os.getenv("DB_PASSWORD")

# Create a connection to the database
SQL_URL = f"postgresql://postgres:{DBPassword}@localhost:5432/fraud_detection"
engine = create_engine(SQL_URL)

In [5]:
# Create Query for Dataset
query = """
        SELECT 
            card_holder.id AS "ID", 
            transaction.date AS "Date",  
            transaction.amount AS "Amount"
        FROM transaction
        JOIN credit_card on credit_card.card = transaction.card
        JOIN card_holder on card_holder.id = credit_card.cardholder_id;
        
        """
# Create a DataFrame from the query result
transaction = pd.read_sql(query, engine)

# Show the data of the the new dataframe
transaction.head()

   ID                Date  Amount
0  13 2018-01-01 21:35:10    6.22
1  13 2018-01-01 21:43:12    3.83
2  10 2018-01-01 22:41:21    9.61
3   4 2018-01-01 23:13:30   19.03
4  18 2018-01-01 23:15:10    2.95

In [33]:
# Write function that locates outliers using standard deviation
def outliers_std(data, card_id):
    # get transaction amounts for card id 
    transaction_amounts = data.loc[data['ID']==card_id, 'Amount']                                                # retrieve transaction amounts for given card id
    outliers = pd.DataFrame(
        transaction_amounts[transaction_amounts > transaction_amounts.mean() + 3 * transaction_amounts.std()])   #Cal outliers
    return outliers

In [35]:
# Find anomalous transactions for 3 random card holders
card_id = np.random.randint(1,30,3)

for id in card_id:
    if len(outliers_std(transaction, id)) == 0:                          #No transaction found
        print(f"Card holder {id} has no outlier transactions.")
    else:                                                                #Transaction found
        print(f"Card holder {id} has the following outlier transactions.:\n{outliers_std(transaction, id)}.")

Card holder 13 has no outlier transactions.
Card holder 1 has the following outlier transactions.:
      Amount
235   1691.0
2079  1302.0
2374  1790.0
3191  1660.0
3263  1894.0.
Card holder 3 has the following outlier transactions.:
      Amount
1886  1159.0
1913  1160.0.

## Identifying Outliers Using Interquartile Range

In [40]:
# Write a function that locates outliers using interquartile range
def outliers_quartile(data, card_id):
    transaction_amounts = data.loc[data['ID']==card_id, 'Amount']                                                                         # rtv transaction amounts for given card id
    threshold = np.quantile(transaction_amounts, .75)+(np.quantile(transaction_amounts, .75)-np.quantile(transaction_amounts, .25))*1.5   #Cal quatitle threshold
    outliers_quartiles = pd.DataFrame(transaction_amounts[transaction_amounts> threshold])                                                # return values above the iqr threshold 
    return outliers_quartiles

In [41]:
# Find anomalous transactions for 3 random card holders
card_id = np.random.randint(1,30,3)

for id in rand_card_id:
    if len(outliers_quartile(transaction, id)) == 0:
        print(f"Card holder {id} has no outlier transactions.")
    else:
        print(f"Card holder {id} has the following outlier transactions:\n{outliers_quartile(transaction, id)}.")

Card holder 9 has the following outlier transactions:
      Amount
613   1534.0
852   1009.0
1001   325.0
1466   245.0
1578  1795.0
1632   691.0
1909   267.0
2575  1095.0
2703  1179.0
3251    57.0
3389  1724.0.
Card holder 7 has the following outlier transactions:
      Amount
27    1685.0
379    445.0
484   1072.0
991    543.0
1079  1086.0
1366   160.0
1945   233.0
2142  1449.0
3327  2249.0
3379  1296.0.
Card holder 1 has the following outlier transactions:
      Amount
235   1691.0
979    283.0
2079  1302.0
2374  1790.0
2387  1017.0
2391  1056.0
2578  1060.0
2786   484.0
3183   267.0
3191  1660.0
3263  1894.0
3492  1033.0.